---
import { pages } from '../consts/pages.js'

import HamburguerMenu from './HamburguerMenu.astro'
---

<header
    class="sticky top-0 w-full flex justify-between px-3 pt-2 h-20 items-center shadow-lg bg-section sm:px-10 z-10"
>
    <a href="/" class="font-main text-secondary text-2xl">
        Monagas<span class="text-primary">Box</span>
    </a>

    <nav class="font-secondary text-secondary hidden lg:flex space-x-10">
        {
            pages.map(({ title, url, rel, target }) => (
                <div class="">
                    <a href={url} rel={rel} target={target}>
                        {title}
                    </a>
                </div>
            ))
        }
    </nav>

    <div class="block lg:hidden">
        <HamburguerMenu />
        <nav
            id="nav"
            class="absolute top-20 left-0 w-full bg-section shadow-lg text-secondary font-secondary opacity-0 transition-opacity duration-300 ease-in-out z-10 pointer-events-none"
        >
            <div class="flex flex-col items-center space-y-10 py-5">
                {
                    pages.map(({ title, url, rel, target }) => (
                        <div>
                            <a href={url} rel={rel} target={target} class="tracking-wider">
                                {title}
                            </a>
                        </div>
                    ))
                }
            </div>
        </nav>
    </div>

</header>
