---
const coach_info = [
    {
        name: "Edgar ",
        surname: "Navarro",
        src: "/img/Edgar.png",
        description:
            "Con años de experiencia y un enfoque personalizado, Navarro es un líder excepcional en el mundo del fitness. Su habilidad para motivar y guiar a través de desafiantes entrenamientos de CrossFit lo hace destacar como entrenador. ¿Buscas alcanzar nuevos niveles de rendimiento? Edgar es la elección perfecta. Únete a él en el camino hacia una vida más saludable y fuerte. ¡No te arrepentirás!",
        tags: ["Coach", "Motivador"],
    },
];
---

{
    coach_info.map(({ name, surname, src, description, tags }) => (
        <div class="main_div flex flex-col space-y-5 sm:flex-row sm:space-x-16 items-center">
            <img
                src={src}
                alt={`${name} ${surname}`}
                class="size-64 rounded-3xl object-cover sm:size-80"
                title="Entrenador Edgar Navarro"
                height=""
                width=""
                loading="lazy"
            />
            <div class="h-fit sm:w-[32rem] space-y-2 text-secondary font-secondary">
                <h2 class="text-2xl font-main lg:text-6xl">
                    {name} <span class="text-red-400">{surname}</span>
                </h2>
                <p>{description}</p>
            </div>
        </div>
    ))
}
