---
const coach_info = [
    {
        name: "Edgar ",
        surname: "Navarro",
        src: "/img/Edgar.png",
        description:
            "Con años de experiencia y un enfoque personalizado, Navarro es un líder excepcional en el mundo del fitness. Su habilidad para motivar y guiar a través de desafiantes entrenamientos de CrossFit lo hace destacar como entrenador. ¿Buscas alcanzar nuevos niveles de rendimiento? Edgar es la elección perfecta. Únete a él en el camino hacia una vida más saludable y fuerte. ¡No te arrepentirás!",
        tags: [
            "Coach",
            "Motivador",
            "Metabólico",
            "Gimnástico",
            "Halterofiíico",
        ],
    },
];
---

{
    coach_info.map(({ name, surname, src, description, tags }) => (
        <div class="main_div flex flex-col space-y-5 sm:flex-row sm:space-x-16 items-center">
            <img
                src={src}
                alt={`${name} ${surname}`}
                class="size-64 rounded-3xl object-cover sm:size-80"
                title="Entrenador Edgar Navarro"
                loading="eager"
            />
            <div class="h-fit sm:w-[32rem] space-y-2 text-secondary font-secondary">
                <h2 class="text-2xl font-main lg:text-6xl">
                    {name} <span class="text-red-400">{surname}</span>
                </h2>
                <p>{description}</p>
                <p class="underline hidden">
                    Su pasión por el fitness es contagiosa, y su dedicación al
                    progreso de sus alumnos es evidente en cada sesión de
                    entrenamiento. Aquellos que entrenan con Edgar encuentran en
                    él un mentor comprometido y una fuente constante de
                    inspiración para superar sus límites y alcanzar sus metas.
                </p>

                <div class="flex flex-wrap">
                    {tags.map((tag) => (
                        <span
                            class="text-xs font-bold bg-red-400 text-white px-2 py-1 rounded-full hover:bg-red-500 transition-all duration-300 ease-in-out m-1
                        "
                        >
                            {tag}
                        </span>
                    ))}
                </div>
            </div>
        </div>
    ))
}
