---
import { ViewTransitions } from "astro:transitions";

import "@fontsource/saira-stencil-one";
import "@fontsource-variable/onest";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SEO from "../components/SEO.astro";
import type { Preload } from "@/types/Preload";

interface Props {
    title: string;
    description: string;
    preload?: Array<Preload>;
    canonical?: string;
    image?: string;
}

const { title, description, preload, canonical, image } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <SEO
            canonical={canonical}
            description={description}
            image={image}
            preload={preload}
            title={title}
        />
        <ViewTransitions />
        <script
            src="https://kit.fontawesome.com/1533ee2ebc.js"
            crossorigin="anonymous"></script>
    </head>
    <body class="overflow-x-hidden">
        <Header />
        <slot />
        <Footer />
        <style is:global>
            :root {
                --primary-color: #f50538;
                --secondary-color: #fffafa;
                --background-color: #1a1828;
                --section-color: #0f0e17;
                --subsection-color: #2b2941;
            }

            html {
                font-family: "Saira Stencil One", "Onest Variable", system-ui,
                    sans-serif;
            }

            body {
                margin: 0;
                padding: 0;
                min-height: 100vh;
                background-color: var(--background-color);
                display: flex;
                flex-direction: column;
            }

            @supports selector(::-webkit-scrollbar) {
                ::-webkit-scrollbar {
                    width: 10px;
                    border-radius: 10px;
                }

                ::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background-color: var(--primary-color);
                    border: 2px solid transparent;
                    background-clip: content-box;
                }

                ::-webkit-scrollbar-thumb:active {
                    background-color: var(--primary-color);
                }

                ::-webkit-scrollbar-track {
                    background: var(--background-color);
                }

                ::-webkit-scrollbar-corner {
                    background: var(--background-color);
                }
            }

            @supports not selector(::-webkit-scrollbar) {
                * {
                    scrollbar-color: var(--background-color) transparent;
                    scrollbar-width: thin;
                }
            }

            .anchor-main-content {
                pointer-events: none;
            }

            .anchor-main-content:focus {
                pointer-events: all;
            }
        </style>
    </body>
</html>
